export AWS_REGION=eu-west-1
aws sts get-caller-identity --profile utbod-si-2021> /dev/null || aws-sso-util login --profile utbod-si-2021 > /dev/null
eval $(aws-export-credentials --profile utbod-si-2021 --env-export)
